$base-background-color: #EBEBEB;
$base-background-color-dark: #555a5f;
$component-background-color-light: #FFFFFF;
$component-background-color-dark: #3f4044;
$hover-color: #00BFFF;

$component-border-color: #F5F5F5;

$text-color-dark-theme: #F8F8FF; // ghostwhite
